<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1094741598966-rnobsqgfpbu4rf54nj9agphp5s7mv2j5.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1094741598966-rnobsqgfpbu4rf54nj9agphp5s7mv2j5</string>
	<key>API_KEY</key>
	<string>AIzaSyAkOOiJPF6AGqY5SYhgSED6c9otNT30he4</string>
	<key>GCM_SENDER_ID</key>
	<string>1094741598966</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.inventory</string>
	<key>PROJECT_ID</key>
	<string>inventory-a46f3</string>
	<key>STORAGE_BUCKET</key>
	<string>inventory-a46f3.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1094741598966:ios:14dbca4098d57c50d282d7</string>
</dict>
</plist>